p{
    color: rgb(143, 2, 2);
    font-size: larger;
    font-weight: 100%;
    border: 3px solid black ;
    padding: 20px;
    margin: 40px 20px;
    
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0gPJykZBs1LuZ6nlqACM_Mn6nub1n_cKtfA&usqp=CAU");
    background-color:rgb(142, 204, 241 );
    
}
table,th,td{
    border: 3px;
    border-style: solid;
    /* padding: 3px; */
    width: 35%;
}
li{
    
    list-style-type: u-roman;
    
}
img{
    width: 1080px;
    height: 480px;
    justify-content: center;
}
.hi{
    color: blue;
}
#hi{
    color: red;
}